<% if errors.any? %>
  <div class="errors">
    <div class="ui error tiny message">
      <div class="header">
        <%= t('shared.errors.header') %>
      </div>
      <i class="close icon" id="close"></i>
      <ul class="list">
        <% errors.messages.each do |error| %>
          <% if error_value(error) %>
            <li><%= "#{error_title(error)} #{error_value(error)}" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
