<div class="errors">
  <% if errors.any? %>
    <div class="ui red tiny message" id="servers-errors">
      <ul class="list">
        <% errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui error red tiny message">
  </div>
</div>
