<div class="errors">
  <% if errors.any? %>
    <div class="ui red tiny message servers-errors">
      <ul class="list">
        <% errors.messages.each do |error| %>
          <% if error_value(error) %>
            <li><%= "#{error_title(error)} #{error_value(error)}" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui error red tiny message">
  </div>
</div>
