default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: thankyou_development

test:
  <<: *default
  database: thankyou_test
  host: <%= ENV.fetch('THANK_YOU_DATABASE_HOST') { '127.0.0.1' } %>
  username: <%= ENV['THANKYOU_DATABASE_USERNAME']%>
  password: <%= ENV['THANKYOU_DATABASE_PASSWORD']%>

production:
  <<: *default
  database: thankyou_production
  username: thankyou
  password: <%= ENV['THANKYOU_DATABASE_PASSWORD'] %>
