header a.main-link {
  color: black;
}

header a.main-link:hover {
  color: black;
}

header .menu {
  padding: 5px;
}

.sign-in-checkbox {
  margin-top: 5px;
}

form.sign-up .submit {
  margin-bottom: 5px;
}

form.sign-in .submit {
  margin-top: 5px;
}
