header a.main-link {
  color: black;
}

header a.main-link:hover {
  color: black;
}

header .menu {
  padding: 5px;
}

.sign-in-checkbox {
  margin-top: 5px;
}

#submit {
  margin-top: 5px;
  margin-bottom: 5px;
}
