<% @organizations.each do |organization| %>
  <ul>
    <li>
      <%= organization.user.email %><br/>
      <%= link_to organization.name, organization %><br/>
      <%= organization.description %>
    </li>
  </ul>
<% end %>
<%= link_to t('new_organization'), new_organization_path %>
