<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('organizations.prohibited', count: resource.errors.count) %> </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
