<div class="ui secondary menu">
  <h4 class="ui header item">
    <%= link_to 'Thank You', root_path, class: 'main-link' %>
  </h4>
  <div class="right menu">
    <% if current_user.present? %>
      <h5 class="item"><%= current_user.email %></h5>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'ui inverted blue button' %>
    <% else %>
      <%= button_to 'Sign in', new_user_session_path, method: :get, class: 'ui inverted blue button' %>
    <% end %>
  </div>
</div>
