<% if notice %>
  <div class="ui success small message">
    <i class="close icon" id="close"></i>
    <div class="header">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="ui negative small message">
    <i class="close icon" id="close"></i>
    <div class="header">
      <%= alert %>
    </div>
  </div>
<% end %>
